<div class="page-header">
  <h1>Gallery</h1>

  <p>See all images you have saved. Search image descriptions.</p>

  <div class="form-group">
    <div class="col-sm-4">
      <input type="text" class="form-control" id="searchInput" #searchInput>
    </div>
    <button type="submit" class="btn btn-default" (click)="search(searchInput.value)">Search</button>
  </div>
  @if (searchResults) {
    <div>
      <h2><b>Search Results</b></h2> {{searchResults.length}}<br />
      <div class="results">
        @for (result of searchResults; track result) {
          <div class="card">
            <img src="{{result.storageUrl}}" />
          </div>
        }
      </div>
    </div>
  }
</div>

@if (savedImages) {
  <div>
    <h2><b>Saved Images</b></h2> {{savedImages.length}}<br />
    <div class="results">
      @for (savedImage of savedImages; track savedImage) {
        <div class="card">
          <img src="{{savedImage.storageUrl}}" />
          <div>
            <h4><b>{{savedImage.description}}</b></h4>
          </div>
          <div>
            @for (tag of savedImage.tags; track tag) {
              <span class="tag label label-default"
              >{{tag.tag}}</span>
            }
          </div>
          @if (!savedImages) {
            <div>
              <h4>No images to display.</h4>
            </div>
          }
        </div>
      }
    </div>
  </div>
}